@prefix: yz;
// 内外边距预设值
@size: 0, 5, 10, 15, 20;
@indexForQuick: 3;

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
nav,
article,
iframe,
button {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
img { border: 0; }

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.@{prefix}- {
  // float
  &fl { float: left !important; }
  &fr { float: right !important; }
  // set margin and padding use @size
  each(@size, {
  // margin distance
    &m {
    &-@{value} { margin: unit(@value, px); }
    &t-@{value} { margin-top: unit(@value, px); }
    &r-@{value} { margin-right: unit(@value, px); }
    &b-@{value} { margin-bottom: unit(@value, px); }
    &l-@{value} { margin-left: unit(@value, px); }
  }
  // padding distance
    &p {
    &-@{value} { padding: unit(@value, px); }
    &t-@{value} { padding-top: unit(@value, px); }
    &r-@{value} { padding-right: unit(@value, px); }
    &b-@{value} { padding-bottom: unit(@value, px); }
    &l-@{value} { padding-left: unit(@value, px); }
  }
})
  // quick use margin and padding
  // extract(variable, index) // index is 1 to variable length
  &m {
    margin: unit(extract(@size, @indexForQuick), px);
    &t { margin-top: unit(extract(@size, @indexForQuick), px); }
    &r { margin-right: unit(extract(@size, @indexForQuick), px); }
    &b { margin-bottom: unit(extract(@size, @indexForQuick), px); }
    &l { margin-left: unit(extract(@size, @indexForQuick), px); }
  }

  &p {
    margin: unit(extract(@size, @indexForQuick), px);
    &t { margin-top: unit(extract(@size, @indexForQuick), px); }
    &r { margin-right: unit(extract(@size, @indexForQuick), px); }
    &b { margin-bottom: unit(extract(@size, @indexForQuick), px); }
    &l { margin-left: unit(extract(@size, @indexForQuick), px); }
  }

  &text-center {
    text-align: center;
  }
  // user can't select anything that use this class
  &unable-select {
    user-select: none;
  }
  // cursor change to pointer style
  &pointer {
    cursor: pointer;
    display: block;
  }
  // full screen
  &full {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  // display block
  &block {
    display: block;

    &--inline {
      display: inline-block;
    }
  }
  // flex layout
  &flex- {
    &column,
    &row {
      display: flex;

      &.center {
        align-items: center;
        justify-content: center;
      }

      &.space-between {
        align-items: center;
        justify-content: space-between;
      }

      &--inline {
        display: inline-flex;

        &.center {
          align-items: center;
          justify-content: center;
        }

        &.space-between {
          align-items: center;
          justify-content: space-between;
        }
      }
    }

    &row {
      flex-direction: row;
    }

    &column {
      flex-direction: column;
    }
  }
}

// element 修改
.@{prefix}-element {
  &.cover-dialog-show {
    overflow: hidden;
    // dialog 修改
    .el-dialog {
      position: relative;
      height: 90%;

      .el-dialog__body {
        position: absolute;
        padding: 5px 20px;
        top: 54px;
        left: 0;
        right: 0;
        bottom: 62px;
        overflow-y: auto;
      }

      .el-dialog__footer {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #fff;
      }
    }
  }
}

.@{prefix}-icon {
  font-size: 20px;
  font-weight: bold;

  &.success,
  & .success {
    color: #67c23a;
  }

  &.warning,
  & .warning {
    color: #e6a23c;
  }

  &.danger,
  & .danger {
    color: #f56c6c;
  }

  &.primary,
  & .primary {
    color: #409eff;
  }
}
